---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='https://clickup.com'>Sign Up to start using ClickUp</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>


search: true

code_clipboard: true
---

# Introduction

Welcome to a mini ClickUp API documentation page! 

Here, we'll specifically discuss API calls for the Time Estimates feature only. This includes:

* Creating a task with Time Estimates
* Updating the Time Estimate of a task
* Retrieving a task and its Time Estimate
* Removing the Time Estimate of a task

<aside class="warning">You must <a href='https://docs.clickup.com/en/articles/1666875-time-estimates-clickapp'>enable Time Estimate</a> in your ClickUp account first.</aside>



# Authentication

**This part is taken from the [main ClickUp API documentation page](https://jsapi.apiary.io/apis/clickup20/introduction/authentication.html).**

There are two ways to authenticate with ClickUp API 2.0, with a personal token or creating an application and authenticating with an OAuth2 flow. Once you receive one of those two tokens, use that in the Authorization header of your API requests.

IMPORTANT - If you are creating an application for other's to use, it is highly recommended that you use the OAuth2 flow.

## Personal Token

> To start using an API call, you'll need to authorize the call together with your access token by passing the correct header `-H` with each request:

```shell
curl "api_endpoint_here" \
  -H "Authorization: access_token"
```

> Make sure to replace `access_token` with your API key.

If you are using the API for personal use, it is safe to use the personal API token. You can find this token with these steps:

* Click your profile at the bottom-left of your account
* Under your user settings, click "Apps" 
* At the top of the page you have the option to generate a personal token. These tokens will always begin with pk_.

<img src="<%= image_path('images/retrieveapi1.gif') %>" />
<img src="<%= image_path('images/retrieveapi2.png') %>" />

If your token becomes compromised, you can regenerate it. However, be aware that any applications that were using the old token will lose access once it has been regenerated.

`Authorization: access_token`

<aside class="notice">
You must replace <code>access_token</code> with your personal token.
</aside>

## OAuth2 Flow
When you want to develop an application that others can use, you must go through the OAuth2 flow so that ever user that uses your application gets assigned an individualized token. This way each user of your application is able to access their own ClickUp resources. [Click here to read further on how to use the ClickUp OAuth2 flow](https://jsapi.apiary.io/apis/clickup20/introduction/authentication/oauth2-flow.html)

Note: _ClickUp uses the authorization code grant type._




# Time Estimates

## Setting Time Estimates
`time_estimate` values use milliseconds.


## Create a task with Time Estimate

```shell
curl "https://api.clickup.com/api/v2/list/LIST_ID/task" 
  -H "Authorization: access_token" 
  -H "Content-Type: application/json" 
  -X POST 
  -d 
  '{
      "name": "your task title",  
      "time_estimate": 8640000
    }'
```

> The above command returns JSON structured like this:

```json
[
{
    "id": "456",
    "custom_id": null,
    "name": "test",
    "text_content": null,
    "description": null,
    "status": {
        "id": "p7820110_wJliwclT",
        "status": "planning",
        "color": "#d3d3d3",
        "orderindex": 0,
        "type": "open"
    },
    "orderindex": "13.00065730000000000000000000000000",
    "date_created": "1627199779101",
    "date_updated": "1627199779101",
    "date_closed": null,
    "archived": false,
    "creator": {
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "email": "name@example.com",
        "profilePicture": null
    },
    "assignees": [],
    "watchers": [{
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "initials": "U",
        "email": "name@example.com",
        "profilePicture": null
    }],
    "checklists": [],
    "tags": [],
    "parent": null,
    "priority": null,
    "due_date": null,
    "start_date": null,
    "points": null,
    "time_estimate": 8640000,
    "time_spent": 0,
    "custom_fields": [],
    "dependencies": [],
    "linked_tasks": [],
    "team_id": "5750043",
    "url": "https://app.clickup.com/t/456",
    "permission_level": "create",
    "list": {
        "id": "123",
        "name": "my list",
        "access": true
    },
    "project": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "folder": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "space": {
        "id": "7820110"
    }
}
]
```

This endpoint creates a task with a specific Time Estimate

### HTTP Request

`POST https://api.clickup.com/api/v2/list/LIST_ID/task`

### Query Parameters

Parameter | Example | Description
--------- | ------- | -----------
list_id | 123 | List ID where a task will belong

You can get the List ID from your ClickUp page, where if this is the URL `https://app.clickup.com/5750043/v/l/6-31032008-1`, then `31032008` is the List URL.

<img src="<%= image_path('images/retrievelistid.gif') %>" />


## Update the Time Estimate of a task

```shell
curl "https://api.clickup.com/api/v2/task/TASK_ID/" 
  -H "Authorization: access_token" 
  -H "Content-Type: application/json" 
  -X PUT 
  -d 
  '{
      "time_estimate": 9000000
    }'
```

> The above command returns JSON structured like this:

```json
{
    "id": "456",
    "custom_id": null,
    "name": "test",
    "text_content": null,
    "description": null,
    "status": {
        "id": "p7820110_wJliwclT",
        "status": "planning",
        "color": "#d3d3d3",
        "orderindex": 0,
        "type": "open"
    },
    "orderindex": "14.00067860000000000000000000000000",
    "date_created": "1627200135006",
    "date_updated": "1627200239937",
    "date_closed": null,
    "archived": false,
    "creator": {
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "email": "name@example.com",
        "profilePicture": null
    },
    "assignees": [],
    "watchers": [{
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "initials": "U",
        "email": "name@example.com",
        "profilePicture": null
    }],
    "checklists": [],
    "tags": [],
    "parent": null,
    "priority": null,
    "due_date": null,
    "start_date": null,
    "points": null,
    "time_estimate": 9000000,
    "time_spent": 0,
    "custom_fields": [],
    "dependencies": [],
    "linked_tasks": [],
    "team_id": "5750043",
    "url": "https://app.clickup.com/t/456",
    "permission_level": "create",
    "list": {
        "id": "123",
        "name": "my list",
        "access": true
    },
    "project": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "folder": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "space": {
        "id": "7820110"
    },
    "attachments": []
}
```

This endpoint updates the Time Estimate of a specific task

### HTTP Request

`PUT https://api.clickup.com/api/v2/task/TASK_ID/`

### URL Parameters

Parameter | Example | Description
--------- | ------- | -----------
TASK_ID | 456 | The ID of the task where the time estimate will be updated


You can get the TASK_ID from a specific ClickUp task page, where if this is the URL `https://app.clickup.com/t/18bvnvr`, then `18bvnvr` is the Task ID.

<img src="<%= image_path('images/retrievetaskid.gif') %>" />


## Retrieve a task & its Time Estimate

```shell
curl "https://api.clickup.com/api/v2/task/TASK_ID/" 
  -H "Authorization: access_token" 
  -H "Content-Type: application/json" 
  -X GET
```

> The above command returns JSON structured like this:

```json
{
    "id": "456",
    "custom_id": null,
    "name": "test",
    "text_content": null,
    "description": null,
    "status": {
        "id": "p7820110_wJliwclT",
        "status": "planning",
        "color": "#d3d3d3",
        "orderindex": 0,
        "type": "open"
    },
    "orderindex": "14.00067860000000000000000000000000",
    "date_created": "1627200135006",
    "date_updated": "1627200239937",
    "date_closed": null,
    "archived": false,
    "creator": {
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "email": "name@example.com",
        "profilePicture": null
    },
    "assignees": [],
    "watchers": [{
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "initials": "U",
        "email": "name@example.com",
        "profilePicture": null
    }],
    "checklists": [],
    "tags": [],
    "parent": null,
    "priority": null,
    "due_date": null,
    "start_date": null,
    "points": null,
    "time_estimate": 9000000,
    "time_spent": 0,
    "custom_fields": [],
    "dependencies": [],
    "linked_tasks": [],
    "team_id": "5750043",
    "url": "https://app.clickup.com/t/456",
    "permission_level": "create",
    "list": {
        "id": "123",
        "name": "my list" ,
        "access": true
    },
    "project": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "folder": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "space": {
        "id": "7820110"
    },
    "attachments": []
}
```
> Search for `time_estimate` in the body response above to retrieve the data. 

This endpoint retrieves a task with all its details, including Time Estimate.

### HTTP Request

`GET https://api.clickup.com/api/v2/task/TASK_ID/`

### URL Parameters

Parameter | Example | Description
--------- | ------- | -----------
TASK_ID | 456 | The ID of the task where the time estimate will be updated


You can get the TASK_ID from a specific ClickUp task page, where if this is the URL `https://app.clickup.com/t/18bvnvr`, then `18bvnvr` is the Task ID.

<img src="<%= image_path('images/retrievetaskid.gif') %>" />


## Remove Time Estimate from a task

```shell
curl "https://api.clickup.com/api/v2/task/TASK_ID/" 
  -H "Authorization: access_token" 
  -H "Content-Type: application/json" 
  -X PUT 
  -d 
  '{
      "time_estimate": 0
    }'
```

> The above command returns JSON structured like this:

```json
{
    "id": "456",
    "custom_id": null,
    "name": "test",
    "text_content": null,
    "description": null,
    "status": {
        "id": "p7820110_wJliwclT",
        "status": "planning",
        "color": "#d3d3d3",
        "orderindex": 0,
        "type": "open"
    },
    "orderindex": "14.00067860000000000000000000000000",
    "date_created": "1627200135006",
    "date_updated": "1627202713378",
    "date_closed": null,
    "archived": false,
    "creator": {
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "email": "name@example.com",
        "profilePicture": null
    },
    "assignees": [],
    "watchers": [{
        "id": 7851964,
        "username": "Username",
        "color": "#263238",
        "initials": "U",
        "email": "name@example.com",
        "profilePicture": null
    }],
    "checklists": [],
    "tags": [],
    "parent": null,
    "priority": null,
    "due_date": null,
    "start_date": null,
    "points": null,
    "time_estimate": 0,
    "time_spent": 0,
    "custom_fields": [],
    "dependencies": [],
    "linked_tasks": [],
    "team_id": "5750043",
    "url": "https://app.clickup.com/t/456",
    "permission_level": "create",
    "list": {
        "id": "123",
        "name": "my list",
        "access": true
    },
    "project": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "folder": {
        "id": "14312975",
        "name": "hidden",
        "hidden": true,
        "access": true
    },
    "space": {
        "id": "7820110"
    },
    "attachments": []
}
```

This endpoint removes the Time Estimate from a task.

### HTTP Request

`PUT https://api.clickup.com/api/v2/task/TASK_ID/`

### URL Parameters

Parameter | Example | Description
--------- | ------- | -----------
TASK_ID | 456 | The ID of the task where the time estimate will be updated


You can get the TASK_ID from a specific ClickUp task page, where if this is the URL `https://app.clickup.com/t/18bvnvr`, then `18bvnvr` is the Task ID.

<img src="<%= image_path('images/retrievetaskid.gif') %>" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K0QT848W20"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K0QT848W20');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-203160257-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-203160257-1');
</script>
